@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: lightgray;
}

.botao-nav {
  width: 120px;
  margin-right: 10px;
}

.botao-acoes {
  width: 100px;
  padding: 3px;
  margin: 2px;
}

.msg-dados {
  display: none;
  text-align: center;
  font-weight: bold;
}
