@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: lightgray;
}

nav {
  text-align: center;
}

nav .mat-mini-fab {
  margin: 5px;
}

.titulos {
  text-align: center;
  padding: 10px;
}

label {
  font-weight: bold;
}

.botao-acoes {
  width: 100px;
  padding: 3px;
  margin: 2px;
}

.botao-salvar {
  width: 120px;
}

.div-table-livros {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
  border: grey solid 2px;
  padding: 5px;
}

.coluna-acoes button {
  margin: 5px;
}

.autores-chip-list {
  width: 100%;
}

.assunto-chip-list {
  width: 100%;
}
