<div class="titulos">
  <h2>Listagem de livros</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Livro</th>
      <th style="text-align: center;">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let livro of livros">
      <td style="width: 90%;">
        {{livro.titulo}} - {{livro.editora}} {{livro.edicao}}a Ed.{{livro.anoPublicacao}}<br>
        {{livro.autores}}<br>
        ({{livro.assuntos}})<br>
        Preço: {{livro.valor | currency : 'R$'}}
      <td>
        <a [routerLink]="['/update', livro.id]" class="btn btn-info botao-acoes">Editar</a>
        <button class="btn btn-danger botao-acoes" (click)="deleteLivro(livro)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
