<div class="titulos">
  <h2>Listagem de livros</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Livro</th>
      <th style="text-align: center;">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let livro of livros">
      <td style="width: 80%;">
        {{livro.titulo}} - {{livro.editora}} {{livro.edicao}}a Ed.{{livro.anoPublicacao}}<br>
        {{livro.autores}}<br>
        ({{livro.assuntos}})<br>
        Preço: {{livro.valor | currency : 'R$'}}
      <td class="coluna-acoes" style="text-align: center;">
        <button mat-mini-fab color="primary" [routerLink]="['/update', livro.id]"
          aria-label="Example icon button with a home icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="deleteLivro(livro)"
          aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
