<div class="titulos">
  <h2>Atualizar Livro</h2>
</div>
<form (ngSubmit)="updateLivro()" #livroForm="ngForm">
  <div class="form-group">
    <label for="name">Título:</label>
    <input maxlength="40" [(ngModel)]="livro.titulo" placeholder="Título" name="titulo" class="form-control"
      id="titulo">
  </div>
  <div class="form-group">
    <label for="editora">Editora:</label>
    <input maxlength="40" [(ngModel)]="livro.editora" placeholder="Editora" name="editora" class="form-control"
      id="editora">
  </div>
  <div class="form-group">
    <label for="edicao">Edição:</label>
    <input type="number" maxlength="1" [(ngModel)]="livro.edicao" placeholder="Edição" name="edicao"
      class="form-control" id="edicao">
  </div>
  <div class="form-group">
    <label for="anoPublicacao">Ano Publicação:</label>
    <input type="number" maxlength="4" [(ngModel)]="livro.anoPublicacao" placeholder="Ano Publicação"
      name="anoPublicacao" class="form-control" id="anoPublicacao">
  </div>
  <div class="form-group">
    <label for="valor">Valor:</label>
    <input type="number" [(ngModel)]="livro.valor" placeholder="Valor" name="valor" class="form-control" id="valor">
  </div>
  <div class="form-group">
    <label for="autor">Autores:</label>
    <textarea maxlength="40" [(ngModel)]="livro.autores" name="autores" class="form-control" id="autores"></textarea>
  </div>
  <div class="form-group">
    <label for="autor">Assuntos:</label>
    <textarea maxlength="40" [(ngModel)]="livro.assuntos" name="assuntos" class="form-control" id="assuntos"></textarea>
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary botao-salvar">Atualizar</button>
  </div>
</form>
