<div class="titulos">
  <h2>Atualizar Livro</h2>
</div>
<form (ngSubmit)="updateLivro()" #livroForm="ngForm">
  <div class="form-group">
    <label for="name">Título:</label>
    <input maxlength="40" [(ngModel)]="livro.titulo" placeholder="Título" name="titulo" class="form-control"
      id="titulo">
  </div>
  <div class="form-group">
    <label for="editora">Editora:</label>
    <input maxlength="40" [(ngModel)]="livro.editora" placeholder="Editora" name="editora" class="form-control"
      id="editora">
  </div>
  <div class="form-group">
    <label for="edicao">Edição:</label>
    <input type="number" min="1" max="99" [(ngModel)]="livro.edicao" placeholder="Edição" name="edicao"
      class="form-control" id="edicao">
  </div>
  <div class="form-group">
    <label for="anoPublicacao">Ano Publicação:</label>
    <input type="number" max="{{anoMaxEdicao}}" [(ngModel)]="livro.anoPublicacao" placeholder="Ano Publicação"
      name="anoPublicacao" class="form-control" id="anoPublicacao">
  </div>
  <div class="form-group">
    <label for="valor">Valor:</label>
    <input type="number" step="0.1" [(ngModel)]="livro.valor" placeholder="Valor" name="valor" class="form-control"
      id="valor">
  </div>
  <mat-form-field class="autores-chip-list">
    <mat-label>Autores</mat-label>
    <mat-chip-list #chipListAutor aria-label="Assunto selection">
      <mat-chip *ngFor="let autor of livro.autores" [selectable]="selectable" [removable]="removable"
        (removed)="remove(autor, livro.autores)">
        {{autor}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Novo Autor..." [matChipInputFor]="chipListAutor"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event, livro.autores)">
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field class="assunto-chip-list">
    <mat-label>Assuntos</mat-label>
    <mat-chip-list #chipListAssunto aria-label="Assunto selection">
      <mat-chip *ngFor="let assunto of livro.assuntos" [selectable]="selectable" [removable]="removable"
        (removed)="remove(assunto, livro.assuntos)">
        {{assunto}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Novo Assunto..." [matChipInputFor]="chipListAssunto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event, livro.assuntos)">
    </mat-chip-list>
  </mat-form-field>
  <div class="form-group text-center">
    <button mat-fab type="submit" color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>
